.dropdown_container {
  box-sizing: border-box;
  width: 100%;
  min-width: 10em;
  position: relative;
  
  &::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
    width: 0.8em;
    height: 0.5em;
    background-color: var(--text);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    pointer-events: none;
    z-index: 1;
    transition: transform 0.2s ease;
  }
  
  &:hover::after {
    transform: translateY(-50%) scale(1.1);
  }
}

select {
  appearance: none;
  background-color: transparent;
  padding: 0.75em 2.5em 0.75em 1em;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  line-height: 1.5;
  outline: none;
  
  &::-ms-expand {
    display: none;
  }

  border: 1px solid var(--border);
  border-radius: var(--border-radius-1);
  background-color: var(--main-background);
  color: var(--text);
  text-transform: capitalize;
  text-align: left;
  
  transition: all 0.3s ease;
  
  &:hover {
    border-color: var(--color-orange-1);
    background-color: var(--secondary-background);
  }
  
  &:focus {
    border-color: var(--color-orange-1);
    box-shadow: 0 0 0 2px rgba(255, 107, 53, 0.1);
    background-color: var(--secondary-background);
  }
  
  &:active {
    transform: translateY(1px);
  }
  
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: var(--disabled-background);
  }
}

option {
  cursor: pointer;
  padding: 0.5em 0.75em;
  background-color: var(--main-background);
  color: var(--text);
  
  &:hover {
    background-color: var(--color-orange-1);
    color: var(--text);
  }
  
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}