@use '../../../../GlobalStyles/Breakpoints.scss' as breakpoints;

$svg-width: 16px;
$side-padding: 1em;

.bookmark_wrapper {
    position: absolute;
    left: calc(100%);
    height: 100%;
    top: 0;
    cursor: pointer;
    width: calc($svg-width + $side-padding);
    padding: 0 $side-padding;

    svg { 
        margin-top: 250%;
    }

    .pressed {
        fill: var(--color-orange-1);
    }

    .not_pressed {
        fill: var(--text-gray);
    }

}

@media (max-width: breakpoints.$laptop) {
    .bookmark_wrapper {
        left: calc(100% - 2*$svg-width);
        padding: 0;
    }
}