.skeleton_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;

    &__item{
        width: 100%;
        height: 40px;
        border-radius: var(--border-radius-1);
        background-color: var(--secondary-background);
    }
}