.comments_container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &__divider{
        width: 100%;
        height: 2px;
        background-color:var(--color-orange-1) ;
    }
    &__list{
        list-style: none;
        padding: 0;
    }
    &__summary{
        width: 100%;
        p{
            color: var(--text);
            width: 100%;
            text-align: left;
        }
    }
}
.summary_wrapper{
    &__text{
        color: var(--text);
    }
    &__value{
        color: var(--color-orange-1);
    }

}