@use '../../../../GlobalStyles/Breakpoints.scss' as breakpoints;

.tree_container {
    list-style: none;
    width: 100%;
    box-sizing: border-box;
}

.comment_container {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;

    &__top {
        display: flex;
        width: 100%;
    }

    &__text_wrapper {
        p {
            margin: 0;
        }
    }

    &__bottom {
        width: 100%;

        div {
            p {
                margin: 0;
            }

            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }
}

.commnet_info_wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.5em;

    &__by {
        color: var(--text);
        font-weight: 600;
        text-transform: capitalize;
    }

    &__date {
        color: var(--text-gray);
    }

    &__text {
        color: var(--text);
    }

    &__value {
        color: var(--color-orange-1);
    }
}

.button_expand {
    cursor: pointer;
    color: var(--text);
    background-color: var(--secondary-background);
    outline: none;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: var(--border-radius-1);
}


@media (max-width: breakpoints.$phone) {
    .comments_list {
        padding-left: 0.2em;
    }
}