@use "../../../GlobalStyles/Fonts.scss" as fonts;

@use '../../../GlobalStyles/Breakpoints.scss' as breakpoints;

.header_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;

    &__logo {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    &__nav_section {
        display: flex;
        gap: 1em;
        align-items: center;
        flex: 1;
        justify-content: flex-start;

        a {
            color: var(--text);
            text-decoration: none;

            &:hover {
                color: var(--color-orange-1);
                transition: all;
                transition-duration: var(--transition-duration-1);
            }
        }
    }

    &__user_section {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        gap: 0.5em;

        p {
            margin: 0;
        }
    }

    .logo_text {
        color: var(--color-orange-1);
        user-select: none;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: fonts.$font-size-2xl;
        position: relative;
        line-height: 1.2;
    }

    .glitch {
        position: relative;
        display: inline-block;

        &:before,
        &:after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: transparent;
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        &:before {
            left: 1px;
            text-shadow: 1px 0 var(--glitch-color-1);
        }

        &:after {
            left: -1px;
            text-shadow: -1px 0 var(--glitch-color-2);
        }

        &:hover {

            &:before,
            &:after {
                opacity: 0.8;
            }

            &:before {
                animation: glitch-anim-1 2s infinite linear;
            }

            &:after {
                animation: glitch-anim-2 2s infinite linear;
            }
        }
    }

    @keyframes glitch-anim-1 {
        0% {
            clip-path: inset(10% 0 90% 0);
            transform: translate(0);
        }

        10% {
            clip-path: inset(25% 0 60% 0);
            transform: translate(-1px, 1px);
        }

        20% {
            clip-path: inset(50% 0 40% 0);
            transform: translate(1px, -1px);
        }

        30% {
            clip-path: inset(15% 0 70% 0);
            transform: translate(-1px, -1px);
        }

        40% {
            clip-path: inset(65% 0 25% 0);
            transform: translate(1px, 1px);
        }

        50% {
            clip-path: inset(30% 0 55% 0);
            transform: translate(-1px, 1px);
        }

        60% {
            clip-path: inset(75% 0 15% 0);
            transform: translate(1px, -1px);
        }

        70% {
            clip-path: inset(20% 0 65% 0);
            transform: translate(-1px, -1px);
        }

        80% {
            clip-path: inset(45% 0 40% 0);
            transform: translate(1px, 1px);
        }

        90% {
            clip-path: inset(5% 0 80% 0);
            transform: translate(-1px, 1px);
        }

        100% {
            clip-path: inset(35% 0 50% 0);
            transform: translate(0);
        }
    }

    @keyframes glitch-anim-2 {
        0% {
            clip-path: inset(80% 0 10% 0);
            transform: translate(0);
        }

        10% {
            clip-path: inset(40% 0 45% 0);
            transform: translate(1px, -1px);
        }

        20% {
            clip-path: inset(10% 0 75% 0);
            transform: translate(-1px, 1px);
        }

        30% {
            clip-path: inset(55% 0 30% 0);
            transform: translate(1px, 1px);
        }

        40% {
            clip-path: inset(25% 0 60% 0);
            transform: translate(-1px, -1px);
        }

        50% {
            clip-path: inset(70% 0 20% 0);
            transform: translate(1px, -1px);
        }

        60% {
            clip-path: inset(35% 0 50% 0);
            transform: translate(-1px, 1px);
        }

        70% {
            clip-path: inset(5% 0 80% 0);
            transform: translate(1px, 1px);
        }

        80% {
            clip-path: inset(60% 0 25% 0);
            transform: translate(-1px, -1px);
        }

        90% {
            clip-path: inset(15% 0 70% 0);
            transform: translate(1px, -1px);
        }

        100% {
            clip-path: inset(45% 0 40% 0);
            transform: translate(0);
        }
    }
}

@media (max-width: breakpoints.$phone) {
    .header_container {
        flex-direction: column;
        gap:0.5em;
        padding: 0.5em;

        &__logo {
            display: none;
        }

        &__user_section {
            width: 100%;
            div{
                width: 100%;
            }
        }
    }

}