.heading_wrapper{
    text-align: center;
    h1{
        color: var(--text);
        text-transform: capitalize;
        a{
            text-decoration: none;
            color: var(--text-link);
            &:hover {
                color: var(--color-orange-1);
                transition: all;
                transition-duration: var(--transition-duration-1);
            }
        }
    }
}