.story_detailed_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;

    &__nav {
        width: 100%;
        text-align: left;

        a {
            text-decoration: none;
            color: var(--color-orange-2);

            &:hover {
                color: var(--color-orange-1);
                transition: all;
                transition-duration: var(--transition-duration-1);
            }
        }
    }
}