.footer_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    background-color: var(--secondary-background);
    margin-top: 10%;

    &__top_section {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    &__bottom_section {
        display: flex;
        width: 100%;
        justify-content: center;

        p {
            color: var(--text-gray);
        }
    }

}

.top_section {
    &__left_part {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;


        h3 {
            color: var(--text);
            font-weight: 600;
            user-select: none;
        }
    }

    &__right_part {
        flex: 1;
        display: flex;
        flex-direction: column;

        align-items: center;

        h3 {
            color: var(--text);
            font-weight: 600;
            user-select: none;
        }
    }
}

.information_list {
    list-style: none;
    padding: 0;

    &__item {
        display: flex;
        gap: 0.5em;
    }

}

.item {
    &_link {
        text-decoration: none;
        color: var(--text);

        &:hover {
            color: var(--color-orange-1);
            transition: all;
            transition-duration: var(--transition-duration-1);
        }
    }

    &_label {
        color: var(--color-orange-1);
    }

    &_text {
        color: var(--text);
    }
}